---
layout: default
---

<div class="home">

  <h1 class="page-heading">About</h1>
  <p>{{ site.description | escape }}</p>
  <h1 class="page-heading">Resume</h1>
  <p>Available for preview and download via Box.</p>
  <div style="width:100%; height: 300px;">
	  <iframe src="https://berkeley.app.box.com/embed_widget/s/6iq9fsmhn2qnf0teajz3jr9uhorcpwmt?view=icon&sort=name&direction=ASC&theme=blue" style="width:90%; height:300px; margin:auto; border: 1px solid black;" frameborder="0" allowfullscreen webkitallowfullscreen msallowfullscreen></iframe>
	</div>

</div>