---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="post-blob">
      <img src="{{ site.url }}/images/{{ page.img }}" alt="image" />
      <h2>
        <p class="post-link"><span>{{ page.title | escape }}</span></p>
      </h2>
    </div>
    <div>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
    </div>
    {% include read_time.html %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
